/* Timer */
#timer {
    font-weight: bold;
    color: #ffffff;
    margin-left: 20px;
    align-items: center;
    font-size: 50px;
}

.navTimer{
    display: flex;
    flex-wrap: wrap;
}

/* 1 */
.main_etape1, .main_etape2, .main_etape3{
    text-align: center;
}

.main_etape1 video{
    width: 80%;
    height: 500px;
}

.main_etape1 p, .main_etape2 p{
    margin: 20px 0;
}

.main_etape1 section{
    margin-top: 50px;
}

.main_etape1 div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main_etape1 .button{
    margin: 10px;
}

.main_etape1 iframe{
    width: 80%;
    height: 450px;
}

@media screen and (max-width: 769px){
    .main_etape1 section{
        margin-top: 50px;
    }
}

/* 2 snake */
#gc{
    position: absolute;
    margin: auto;
    transform: translateX(-50%);
}

.usb{
    color: #008B3C;
    font-weight: bold;
    margin-bottom: 150px;
    text-decoration: underline;
}

.main_etape2{
    padding-top: 0;
    height: 90vh;
}

.main_etape2 div{
    display: grid;
}

.main_etape2 button{
    margin: 15px auto;
}

.e3{
    display: none;
}

.msgSnake{
    color: #008B3C;
    display: none;
    font-weight: bold;
}

@media screen and (max-width: 550px){
    #gc, .snakeText{
        display: none;
    }

    .main_etape2{
        height: auto;
    }
}

/* 3 */
.main_etape3 img{
    height: 300px;
    margin: 10px;
}

.main_etape3 .sectionImg{
    margin: 50px 0;
}

.msgError{
    display: none;
}

@media screen and (max-width: 550px){
    .main_etape3 img{
        height: 150px;
    }
}