.main_jeux{
    text-align: center;
    color: #3C3C3B;
}

.main_jeux section{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main_jeux h2{
    font-family: 'Quantify';
    color: #3C3C3B;
}

.main_jeux p, .main_jeux label{
    margin-top: 20px;
    color: #3C3C3B;
}

.main_jeux form input{
    border-radius: 20px;
    width: 100px;
    padding: 20px;
    border: 2px solid #F52929;
    margin: 20px 0;
}

.main_jeux img{
    width: 50%;
}

@media screen and (max-width: 769px){
    .main_jeux{
        text-align: center;
    }

    .main_jeux img{
        width: 100%;
        margin-bottom: 50px;
    }
}